@import url("./variables.css");
@import url("./home.css");
@import url("./portal.css");
@import url("./authentication/auth.css");
@import url("./layout/navbar.css");
@import url("./layout/footer.css");
@import url("./student/student-layout.css");
@import url("./student/student-home.css");
@import url("./student/student-profile.css");
@import url("./student/student-applications.css");
@import url("./company/company-request.css");
@import url("./company/company-dashboard.css");
@import url("./company/company-programs.css");
@import url("./company/company-participants.css");
@import url("./company/company-profile.css");
@import url("./company/company-modals.css");
@import url("./admin-dashboard.css");
@import url("./admin-programs.css");
@import url("./admin-participants.css");
@import url("./admin-companies.css");
@import url("./admin-users.css");
@import url("./admin-profile.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-main);
  color: var(--text-dark);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}